/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: black;
}

nav ul {
    background-color: #333;
    padding: 10px;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

/* Resume Page */
#resume-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#resume-text {
    width: 60%;
}

#resume-image {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resume-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Joke Generator */
#jokes {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Car Gallery */
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#gallery img {
    width: 250px;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#gallery img:hover {
    transform: scale(1.1);
}

/* Video */
#video iframe {
    width: auto;         /* Ensures it fits within the container */
    max-width: 966px;    /* Limits the maximum width */
    height: 100%;        /* Adjusts height based on width for proportionate display */
    display: block;
    margin: 20px auto;
}


#graph-nav {
    text-align: center;
    margin: 20px;
}

#graph-nav a {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
}

#graph-nav a:hover {
    background-color: #555;
}
